.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px green solid;
}

.hero img {
  width:100% !important;
  height: 500px;
  min-height:25vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  object-fit: cover;
  transform:rotate(-2deg);
}

.hero {
  color: #fff;
  min-height: 25vh;
  height: 25%;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  width:110%;
  top:-5%;
  left:-5%;
  transform:rotate(2deg);
}


#bgImage {
  margin: 0;
  
}
.hero figcaption {
  left: 50%;
  position: absolute;
  top:50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero h1 {
  transform: rotate(-2deg);
  color: #ffffff;
  font-size: 3em;
}


.hero h4 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0.5em;
  transform: rotate(-2deg);
  color: #e2e8f0;
}

.professionalExperiences {
  height: 1000px;
  min-height: 25vh;  
  display: grid;
  grid-template-columns:  10% 35% 10% 35% 20%;

}

.gridItem {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  margin-top: 5em;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.circularIcon {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .circularIcon img {
      height: 40px;
      width: 40px;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }


  .gridItem p {
    text-align: left;
    font-weight: 100;
    line-height: 2em;
    font-size: 1.125rem;
    color: #4a5568;
  }

  .gridItem button {
    text-align: left;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    transition: all .2s ease-in-out;
  }

  .gridItem button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }


  .professionalExperiences #cardDevelopment{
    height: 750px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #6CC1FA;
    color: #ffffff;
    width: 25vw;
    max-width: 500px;
  }

  #cardDevelopment h3 {
    font-size: 24px;
    margin-top: 2em;
    margin-left: 2em;
  }

  #cardDevelopment p {
    font-weight: 400;
    font-size: 20px;
    margin-left: 2em;
    width: 75%;
    color: #ffffff;
  }

  #cardDevelopment img {
    width:100%;
    height: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    object-fit: cover;
    border-radius: 10px 10px 10px 0px;
  }

  #contentImage img {
    height: 750px;
    width: 500px;
    border-radius: 10px;
  }
.youTube {
  height: 1000px;
  min-height: 25vh;  
  display: grid;
  grid-template-columns:  10% 35% 10% 35% 20%;
  margin-block-start: 50px;
 /* border: 5px green solid; */
}



















